html, body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 150%;
  font-weight: 100;
  font-size: 18px;
}

.doors {
  width: 100px;
  height: 200px;
  background-color: #E21B5A;
  margin: 20px;
  float: left;
  text-align: center;
  color: #fff;
  font-size: 3em;
  /*font-family: "Roboto", Helvetica, Arial, sans-serif;*/
/*    font-family: 'Titan One', cursive;*/
  font-family: 'Roboto Slab', serif;
  position: relative;
  padding: 50px;
  overflow: hidden;
  font-weight: 700;
}

.doors i {
    font-style: normal;
    position: absolute;
    font-size: 400px;
    transform: rotate(15deg);
    top: -100px;
    right: -20px;
    text-shadow: -10px -10px 0 #8D1038;
}

.begin .doors:hover {
  opacity: 0.7;
  cursor: pointer;
}

.doors i {
  width: 100%;
  display: block;
}

.doors>div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -300px;
  left: 0;
  transition: top 1s;
  z-index: 2;
}

.instruct button {
  background-color: #E21B5A;
  color: #fff;
  width: 290px;
  padding: 15px 10px;
  margin: 20px;
  position: absolute;
  top: 20px;
  text-transform: uppercase;
  border: 0;
  font-size: 20px;
/*  font-family: 'Roboto Slab', serif;*/
font-family: "Roboto", Helvetica, Arial, sans-serif;
font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
  border-radius: 4px;
  border-bottom: 5px solid #8D1038;
  text-shadow: 0 -1px 0 #8D1038;
}

.instruct button:hover {
  opacity: 0.7;
  cursor: pointer;
  text-shadow: 0 1px 0 #8D1038;
}

#begin {
  width: 600px;
  right: 20px;
}

#stick {
  right: 20px;
}

#switch {
 left: 20px;
}

#switchscore {
  float: left;
  width: 50%;
  box-sizing: border-box;
  border-right: 2px solid #E21B5A;
  padding-right: 40px;
  height: 220px;
}

#switchscore:after {
  content: "vs";
  padding: 10px;
  position: absolute;
  top: 85px;
  font-size: 25px;
  line-height: 25px;
  right: 426px;
  background-color: #fff;
  color: #E21B5A;
  font-weight: 700;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

#stickscore {
  float: right;
  width: 50%;
  text-align:  right;
  box-sizing: border-box;
  border-left: 2px solid #E21B5A;
  padding-left: 40px;
  height: 220px;
}

#score {
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
  overflow: hidden;
}

#score h4 {
  line-height: 100%;
  margin-bottom: 10px;
  margin-top: 0;
  color: #E21B5A;
}

.scorebar {
  width: 90%;
  height: 20px;
  background-color: #f0f0f0;
  overflow:hidden;
  margin: 20px 0;
}

.scorebar>div {
  background-color: #E21B5A;
  height: 20px;
  transition: all 1s;
}

#stickscore .scorebar {
  float:right;
}

#switchscore .scorebar>div {
  float:left;
}

#stickscore .scorebar>div {
  float:right;
}

.scoring p {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 100%;
}

#score p {
  margin: 20px 0;
}

h4 {
  font-size: 150%;
}

h5 {
  margin: 20px 0;
  font-weight: 400;
  font-size: 200%;
  line-height: 100%;
}

#otherstats {
  padding-top: 20px;
}

#otherstats p {
  text-transform: none;
  line-height: 150%;
}

.clearfix {
  clear: both;
}

#otherstats p:last-of-type strong {
  font-size: 100%;
}

.finalpercent {
float: left;
margin: 40px 40px 40px 0;
padding: 50px 10px;
color: #fff;
text-align: center;
background: #f0f0f0;
position: relative;
width: 240px;
min-height: 150px;
transition: all 2s;
}

.finalpercent:hover .finalpercentbar{
  transition: all 1s;
  height: 100%!important;
}

.finalpercent p {
  position: relative;
  z-index: 2;
  text-transform: uppercase!important;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}

.finalpercent p strong {
font-size: 110px!important;
line-height: 50px!important;
margin-bottom: 20px;
display: block;
padding-bottom: 20px;
}

.finalpercentbar {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background: #E21B5A;
  transition: all 1s;
}

.arrow:before {
  content: "\2b06";
  position: absolute;
  top: 40px;
  display:block;
  margin: 0 auto;
  text-align:center;
  color: #E21B5A;
  right: 0;
  font-size: 50px;
  width: 100%;
  text-shadow: 0 2px 0 #8D1038;
}

#score span {
/*  font-size: 50%;
  font-weight: 800;*/
  font-size: 18px;
}

#score strong {
  font-size: 150%;
}

#score .warning strong {
  font-size: 100%;
}

.warning {
  text-align: center;
}

#stickscore>div>p:first-of-type, #switchscore>div>p:first-of-type {
  font-size: 185%;
}

.smaller {
  font-size: 100%;
}

#stickscore>div>p:last-of-type, #switchscore>div>p:last-of-type {
  margin-bottom: 0;
}

#message {
  clear: both;
}

.instruct {
  clear: both;
  height: 80px;
  padding: 85px 20px 20px 20px;
  margin: 20px auto;
  width: 600px;
  background-color: #fff;
  color: #333;
  border: 6px solid #f0f0f0;
  overflow: hidden;
  font-weight: 400;
  text-align: center;
  position: relative;
}

.instruct p {
  font-weight: 400;
}

.doorholder {
  width: 720px;
  margin: 10px auto;
  overflow: hidden;
}

.kitten>div {

  transition: all 1s;

  background-image: url("http://placekitten.com/g/200/300");
  top: 0;

}

.turnip>div {
  background-color: green;
  transition: all 1s;
  background-image: url("http://www.placecage.com/c/200/300");
  top: 0;

}

.selected {
  box-shadow: 0 0 0 10px rgba(240,240,240,1);
  background-color: #C9144E;
}

.selected i {
  opacity: 0.8;
}

.complete {
  box-shadow: 0 0 0 10px rgba(226,27,90,1);
  transition: all .5s;
}

header {
  height: 100%;
  background-color: #E21B5A;
  font-family: 'Titan One', cursive;
  position: relative;
  /*color: #FBFFE3;*/
  color: #fff;
}

.title {
  position: absolute;
  top: 42%;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 6em;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  width: 95%;
  text-shadow: -7px 7px 0 rgba(0,0,0,0.4);
  line-height: 100%;
  transform: rotate(-5deg);
  /* Safari */
  -webkit-transform: rotate(-5deg);
  /* Firefox */
  -moz-transform: rotate(-5deg);
  /* IE */
  -ms-transform: rotate(-5deg);
  /* Opera */
  -o-transform: rotate(-5deg);
  margin: 0 auto;
}

h1 span {
  text-transform: uppercase;
  font-size: 40%;
}

h2 {
  margin: -2% 0 0 30%;
  font-weight: 300;
  text-shadow: -2px 2px 0 rgba(0,0,0,0.4);
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1px;
}

article, footer {
  padding: 80px 20px;
  box-sizing: border-box;
  moz-box-sizing: border-box;
  min-height: 100%;
}

article>div, footer>div {
  width: 900px;
  margin: 0 auto;
}

article h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
  font-weight: 700;
}

.thegame h3 {
  font-size: 60px;
  font-weight: 400;
  font-style: italic;
  width: 100%;
  text-shadow: -2px 2px 0 #8D1038;
  line-height: 100%;
  transform: rotate(-5deg);
  /* Safari */
  -webkit-transform: rotate(-5deg);
  /* Firefox */
  -moz-transform: rotate(-5deg);
  /* IE */
  -ms-transform: rotate(-5deg);
  /* Opera */
  -o-transform: rotate(-5deg);
  color: #E21B5A;
  font-family: 'Titan One', cursive;
  line-height: 0;
}

.playtitle {
  font-weight: 400;
  /*text-shadow: -1px 1px 0 #8D1038;*/
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1px;
  margin: -20px 0 40px 300px;
  font-size: 24px;
  color: #E21B5A;
}

.monty {
  background-color: #333333;
  color: #fff;
}

.monty h3 {
  color: #fff;
}

.howto {
  background-color: #83A300;
  color: #fff;
}

.thegame {
  background-color: #fff;
  color: #333333;
}

footer {
  background-color: #E21B5A;
}

#instructionJS {
  background-color: #E21B5A;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

