html, body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

p, blockquote, ul {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 150%;
  font-size: 16px;
}

.colour p {
  font-weight: 100;
}

a {
  color: #73C242;
  text-decoration: none;
}

a:hover {
  color: #E21B5A;
}

.doors {
  width: 150px;
  height: 200px;
  background-color: #E21B5A;
  margin: 20px;
/*  float: left;*/
display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 3em;
  /*font-family: "Roboto", Helvetica, Arial, sans-serif;*/
/*    font-family: 'Titan One', cursive;*/
  font-family: 'Roboto Slab', serif;
  position: relative;
  padding: 50px;
  overflow: hidden;
  font-weight: 700;
}

.doors i {
    font-style: normal;
    position: absolute;
    font-size: 400px;
    transform: rotate(15deg);
    top: -100px;
    right: -20px;
    text-shadow: -10px -10px 0 #8D1038;
}

.begin .doors:hover {
  opacity: 0.7;
  cursor: pointer;
}

.doors i {
  width: 100%;
  display: block;
}

.doors>div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -300px;
  left: 0;
  transition: none;
  z-index: 2;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #f0f0f0; 
}

.instruct button {
  background-color: #E21B5A;
  color: #fff;
  width: 290px;
  padding: 15px 10px;
  margin: 20px;
  position: absolute;
  top: 20px;
  text-transform: uppercase;
  border: 0;
  font-size: 20px;
/*  font-family: 'Roboto Slab', serif;*/
font-family: "Roboto", Helvetica, Arial, sans-serif;
font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
  border-radius: 4px;
  border-bottom: 5px solid #8D1038;
  text-shadow: 0 -1px 0 #8D1038;
}

.instruct button:hover {
  opacity: 0.7;
  cursor: pointer;
  text-shadow: 0 1px 0 #8D1038;
}

#begin {
  width: 600px;
  right: 20px;
}

#stickyscore {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 100;
  box-shadow: 0 4px 0 rgba(0,0,0,0.1);
}

#stickyscore h5 {
  font-size: 14px;
  line-height: 100%;
  margin: 0;
}

#stickyscore>div {
  padding: 10px;
}

.stickyplay {
  text-align: center;
}

.stickyscoring {
  width: 50%;
  box-sizing: border-box;
  float: left;
  display: none;
}

.stickyscoring.sticks {
  text-align: right;
}

.stickybar {
  background-color: #f0f0f0;
  width: 50%;
  height: 4px;
  position: absolute;
  bottom: -4px;
}

#stickyscore p {
  margin:0;
  padding:0;
  line-height: 100%;
  font-size: 14px;
  font-weight: 400;
}

.stickybar.switchbar {
  left: 0;
  box-shadow: inset -2px 0 0 rgba(0,0,0,0.2);
}

.stickyscoring.switchs:after {
  content: "vs";
  position: absolute;
  top: 9px;
  width: 26px;
  margin-right: -13px;
  text-align: center;
  right: 50%;
  font-weight: 700;
  font-size: 12px;
  color: #333;
}

.stickybar.stickbar {
  right: 0;
  box-shadow: inset 2px 0 0 rgba(0,0,0,0.2);
}

.stickybar>div {
  background-color: #E21B5A;
  height: 4px;
  clear: both;
}

.stickybar.stickbar>div {
  transition: all 1s;
  float: right;
    background-color: #73C242;
}

.stickybar.switchbar>div {
  transition: all 1s;
}

.stickyscoring span {
  font-weight: 700;
  color: #E21B5A;
}

.stickyscoring.sticks span {
  color: #73C242;
}

#stick {
  right: 20px;
  background-color: #73C242;
  border-bottom: 5px solid #3E751B;
  text-shadow: 0 -1px 0 #3E751B;
}

#switch {
 left: 20px;
}

#switchscore {
  float: left;
  width: 50%;
  box-sizing: border-box;
  border-right: 2px solid #f0f0f0;
  padding-right: 40px;
  height: 220px;
}

#switchscore:after {
  content: "vs";
  padding: 10px;
  position: absolute;
  top: 85px;
  font-size: 25px;
  line-height: 25px;
  right: 426px;
  background-color: #fff;
  color: #333;
  font-weight: 700;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

#stickscore {
  float: right;
  width: 50%;
  text-align:  right;
  box-sizing: border-box;
  border-left: 2px solid #f0f0f0;
  padding-left: 40px;
  height: 220px;
}

#score {
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
  overflow: hidden;
}

#score h4 {
  line-height: 100%;
  margin-bottom: 10px;
  margin-top: 0;
  color: #E21B5A;
}

#score #stickscore h4 {
  color: #73C242;
}

.scorebar {
  width: 90%;
  height: 20px;
  background-color: #f0f0f0;
  overflow:hidden;
  margin: 20px 0;
}

.scorebar>div {
  background-color: #E21B5A;
  height: 20px;
  transition: all 1s;
}

#stickscore .scorebar {
  float:right;
}

#switchscore .scorebar>div {
  float:left;
}

#stickscore .scorebar>div {
  float:right;
  background-color: #73C242;
}

.scoring p {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 100%;
}

#score p {
  margin: 20px 0;
}

h4 {
  font-size: 150%;
}

h5 {
  margin: 20px 0;
  font-weight: 400;
  font-size: 200%;
  line-height: 100%;
}

#otherstats {
  padding-top: 20px;
}

#otherstats p {
  text-transform: none;
  line-height: 150%;
}

.clearfix {
  clear: both;
}

#otherstats p:last-of-type strong {
  font-size: 100%;
}

.finalpercent {
float: left;
margin: 40px 40px 40px 0;
padding: 50px 10px;
color: #fff;
text-align: center;
background: #f0f0f0;
position: relative;
width: 240px;
min-height: 150px;
transition: all 2s;
}

.finalpercent:hover .finalpercentbar{
  transition: all 1s;
  height: 100%!important;
}

.finalpercent p {
  position: relative;
  z-index: 2;
  text-transform: uppercase!important;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}

.finalpercent p strong {
font-size: 110px!important;
line-height: 50px!important;
margin-bottom: 20px;
display: block;
padding-bottom: 20px;
}

.finalpercentbar {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background: #E21B5A;
  transition: all 1s;
}

.arrow:before {
  content: "\2b06";
  position: absolute;
  top: 40px;
  display:block;
  margin: 0 auto;
  text-align:center;
  color: #E21B5A;
  right: 0;
  font-size: 50px;
  width: 100%;
  text-shadow: 0 2px 0 #8D1038;
}

#score span {
/*  font-size: 50%;
  font-weight: 800;*/
  font-size: 18px;
}

#score strong {
  font-size: 150%;
}

#score .warning strong {
  font-size: 100%;
}

.warning {
  text-align: center;
}

#stickscore>div>p:first-of-type, #switchscore>div>p:first-of-type {
  font-size: 185%;
}

.smaller {
  font-size: 100%;
}

#stickscore>div>p:last-of-type, #switchscore>div>p:last-of-type {
  margin-bottom: 0;
}

#message {
  clear: both;
}

.instruct {
  clear: both;
  height: 80px;
  padding: 85px 20px 20px 20px;
  margin: 20px auto;
  width: 600px;
  background-color: #fff;
  color: #333;
  border: 6px solid #f0f0f0;
  overflow: hidden;
  font-weight: 400;
  text-align: center;
  position: relative;
}

.instruct p {
  font-weight: 400;
}

.doorholder {
  width: 900px;
  margin: 10px auto;
  text-align: center;
  overflow: hidden;
}

.kitten>div {
  transition: all 1s;
  background-image: url("kittendoor.png");
  top: 0;

}

.turnip>div {
  transition: all 1s;
  background-image: url("turnipdoor.png");
  top: 0;
}

.selected {
  box-shadow: 0 0 0 10px rgba(240,240,240,1);
  background-color: #C9144E;
}

.selected.stickdoor {
  box-shadow: 0 0 0 10px #73C242;
}

.selected i {
  opacity: 0.8;
}

.complete {
  box-shadow: 0 0 0 10px rgba(226, 27, 90, 1);
  transition: all .5s;
}

header {
  height: 100%;
  font-family: 'Titan One', cursive;
  position: relative;
  /*color: #FBFFE3;*/
  color: #fff;
  background: url('kittenoutline.svg') center left no-repeat,
  url('turnipoutline.svg') center right no-repeat;
  background-size: auto 95%;
  background-color: #E21B5A;
}

.title {
  position: absolute;
  top: 42%;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 6em;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  width: 95%;
  text-shadow: -7px 7px 0 rgba(0,0,0,0.4);
  line-height: 100%;
  transform: rotate(-5deg);
  /* Safari */
  -webkit-transform: rotate(-5deg);
  /* Firefox */
  -moz-transform: rotate(-5deg);
  /* IE */
  -ms-transform: rotate(-5deg);
  /* Opera */
  -o-transform: rotate(-5deg);
  margin: 0 auto;
}

h1 span {
  text-transform: uppercase;
  font-size: 40%;
}

h2 {
  margin: -2% 0 0 30%;
  font-weight: 300;
  text-shadow: -2px 2px 0 rgba(0,0,0,0.4);
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1px;
}

article, footer {
  padding: 80px 20px 120px 20px;
  box-sizing: border-box;
  moz-box-sizing: border-box;
  min-height: 100%;
}

article>div, footer>div {
  width: 900px;
  margin: 0 auto;
}

article .textcontent {
  width: 700px;
  margin: 0 auto;
}

article h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
  font-weight: 700;
}

.thegame h3 {
  font-size: 60px;
  font-weight: 400;
  font-style: italic;
  width: 100%;
  text-shadow: -2px 2px 0 #8D1038;
  line-height: 100%;
  transform: rotate(-5deg);
  /* Safari */
  -webkit-transform: rotate(-5deg);
  /* Firefox */
  -moz-transform: rotate(-5deg);
  /* IE */
  -ms-transform: rotate(-5deg);
  /* Opera */
  -o-transform: rotate(-5deg);
  color: #E21B5A;
  font-family: 'Titan One', cursive;
  line-height: 0;
}

.playtitle {
  font-weight: 400;
  /*text-shadow: -1px 1px 0 #8D1038;*/
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1px;
  margin: -20px 0 40px 300px;
  font-size: 24px;
  color: #E21B5A;
}

.monty {
  background-color: #fff;
  color: #333;
}

.monty h3 {
  color: #E21B5A;
}

.howto {
  background-color: #333;
  color: #fff;
}

.howto ul {
  list-style: decimal inside;
  margin: 40px -100px;
  font-size: 1.25em;
  padding: 40px;
  border: 6px solid rgba(0,0,0,0.2);
}

.howto ul li {
  padding: 10px 0;
  font-weight: 100;
}

.thegame {
  background-color: #fff;
  color: #333333;
}

.monty blockquote {
  font-size: 1.25em;
  padding: 40px;
  border: 6px solid #f0f0f0;
  margin: 40px -100px;
}

.colour blockquote {
  font-size: 1.25em;
  margin: 40px -100px;
}

.highlight {
  font-size: 2em;
  /*background-color: #E21B5A;
  color: #fff;*/
  text-transform: uppercase;
  color: #E21B5A;
/*  padding: 50px 20px;*/
  text-align: center;
  line-height: 100%;
  
}

.highlight.hone {
  float: right;
  margin: 40px -100px 40px 40px;
  width: 300px;
}

.highlight.htwo {
  float: left;
  margin: 40px 40px 40px -100px;
  width: 360px;
}

footer {
  background-color: #E21B5A;
  color: #fff;
}

#instructionJS {
  background-color: #E21B5A;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

